.imageFrame {
    height:250px;
    width:250px;
    margin: auto;
    position: relative;
    border-color: #000000;
    border:1px solid #021a40;
    display: block;
    background-color: #e5e5e5;
}
input[type="file"] {
    display: none;
}
.userImage{
    max-width: 247px;
    max-height: 247px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}
.formUserNameLabel{
    margin-left: -40px;
}
.formUsername{
    margin-left: -40px;
    width: 160px;
}
.formUserNameUpdateButton{
    margin-left: 160px;
    margin-top: -60px;
    height: 28px;
    width: 59px;
}
.userEmail{
    position: absolute;
    margin-left: 83px;
    margin-top: -40px;
}
.userFullName{
    position: absolute;
    margin-left: 123px;
    margin-top: -40px;
}
.modalTitle{
    font-size: large;
}
@media (min-width:768px){
.imageUpLoadButton{
    width:59px;
    height: 28px;
    margin-top: 20px;
    margin-left: 120px;
}
.imageDeleteButton{
    width: 59px;
    height: 28px;
    margin-top: -56px;
    margin-left: 200px;
}
}
@media (max-width:767px){
    .modal-content{
        width: 300px;
    }
    .modal-body{
        overflow: auto;
        height: 500px;
    }
    .imageUpLoadButton{
        width:100px;
        height: 28px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .imageDeleteButton{
        width: 100px;
        height: 28px;
        margin-top: -59px;
        margin-left: 160px;
    }
  
}
@media (max-width: 823px) and (orientation: landscape){
    .modal-content{
        margin-top: 0px;
        width: 300px;
        height: 300px;
        overflow: auto;
    }
}
