.hearder{
    height: 10px;
}
.logging_button{
    right:10%
}
.login_modal{
    height: 10px;
}
.btn{
    font-size: xx-small;
}
.bar-icon{
    margin-top:2px;
    font-size: xx-large;
    pointer-events: all;
}
.logo{
    width:40px;
    height:40px;
    margin-left: 10px;
}